@using Web.Controllers;
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}


<div class="text-center my-5 pt-5">
  <h1>Login</h1>
  <p>Welcome back to BidMe. Thanks for being with us!</p>
</div>

<div class="row justify-content-center">
    <form asp-action="@nameof(AccountController.Login)" asp-controller="@AccountController.Name" class="col col-lg-8 col-xl-6 d-flex flex-column gap-4">
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
            </div>
    <div class="form-group text-center">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
