
@using Domain.Models
@using Web.Controllers

@model LotViewModel

<div class="row">
    <div class="col-md-4">

        <form asp-action="@nameof(LotController.Create)" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price:</label>
                <input asp-for="Price" type="number" min="1" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Description" class="control-label">Discription:</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Category:</label>
                <select required class="form-select form-select-lg mb-3" name="CategoryId">
                    <option selected value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CloseTime" class="control-label">Close Time:</label>
                <select required class="form-select form-select-lg mb-3" name="CloseTime">
                    <option selected value="1">1 day</option>
                    <option value="3">3 days</option>
                    <option value="7">7 days</option>
                </select>
            </div>    
            <div class="form-group">
                <label asp-for="Url" class="control-label">Images:</label>
                <input type="file" name="Url" multiple/>
            </div>
            
             <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>

         </form>
    </div>
</div>

