@using Domain.Models
@using System.Security.Claims
@model Lot

<p>@ViewBag.Error</p>
<form action="EditDescription" method="post">


    <input type="hidden" value="@Model.Id" name="lotId" />
    <textarea id="description" name="description" class="disabled">@Model.Description</textarea>

    <input class="hidden" id="saveBtn" type="submit" value="Save" />
</form>

@if (Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
    <button id="editBtn">Edit</button>
}
else
{
    <form action="MakeBid" method="post">

        <input type="hidden" value="@Model.Id" name="productId" />
        <input type="number" name="bid" />
        <input type="submit" value="Save" />
    </form>
}

<script asp-append-version="true">
    $(function () {

        $("#editBtn").click(function () {
            enableEdit();
        });
    });

    function enableEdit() {

        $("#description").removeClass("disabled")
        $("#saveBtn").removeClass("hidden")      
    }
</script>